:root{
  --falsh-pure-white: #fff;
  --flash-pure-black: #000;

  --flash-black-color: #141414;
  --flash-black-lighter-1: #292929;
  --flash-black-lighter-2: #525152;
  --flash-black-lighter-3: #b8b8b8;
  --flash-black-lighter-4: #bfbfbf;

  --flash-red-color: #c92a2a;
  --flash-red-lighter-1: #f03131;
  --flash-red-lighter-2: #ff6b6b;
  --flash-red-lighter-3: #ff8787;
  --flash-red-lighter-4: #fbf3f3;

  --flash-blue-color: #1864ab;
  --flash-blue-lighter-1: #1c7ed6;
  --flash-blue-lighter-2: #339af0;
  --flash-blue-lighter-3: #4dabf7;
  --flash-blue-lighter-4: #e7f5ff;

  --flash-grey-color: #3d3d3d;
  --flash-grey-lighter-1: #666666;
  --flash-grey-lighter-2: #8f8f8f;
  --flash-grey-lighter-3: #cccccc;
  --flash-grey-lighter-4: #f6f6f6;

  --flash-green-color: #69db7c;
  --flash-green-lighter-1: #8ce99a;
  --flash-green-lighter-2: #b2f2bb;
  --flash-green-lighter-3: #d3f8d8;
  --flash-green-lighter-4: #ebfbee;

  --flash-purple-color: #5f3dc4;
  --flash-purple-lighter-1: #6741d9;
  --flash-purple-lighter-2: #845ef7;
  --flash-purple-lighter-3: #d0bfff;
  --flash-purple-lighter-4: #e8e3fa;

  --flash-yellow-color: #e59c58;
  --flash-yellow-lighter-1: #f0b76f;
  --flash-yellow-lighter-2: #f7e16f;
  --flash-yellow-lighter-3: #fdd381;
  --flash-yellow-lighter-4: #fdf2c9;


  /* 渐变 */
  --flash-gradient-red-2-white-bottom-right: linear-gradient(to bottom right, #fbf3f3, #fff);

  --flash-gradient-blue-2-white-bottom-right: linear-gradient(to bottom right, #f5f9fc, #fff);

  --flash-gradient-purple-2-white-bottom-right: linear-gradient(to bottom right, #f5f3fe, #fff);
}

body{
  margin: 0;
  padding: 0; 
}