<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.qiu.mapper.ProductMapper">

    <resultMap id="BaseResultMap" type="org.qiu.pojo.Product">
            <id property="productId" column="productId" jdbcType="VARCHAR"/>
            <result property="productName" column="productName" jdbcType="VARCHAR"/>
            <result property="isFlashSale" column="isFlashSale" jdbcType="INTEGER"/>
            <result property="price" column="price" jdbcType="DECIMAL"/>
            <result property="stock" column="stock" jdbcType="INTEGER"/>
            <result property="sales" column="sales" jdbcType="INTEGER"/>
            <result property="images" column="images" jdbcType="VARCHAR"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDeleted" column="isDeleted" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        productId,productName,isFlashSale,
        price,stock,sales,
        images,createTime,updateTime,
        isDeleted
    </sql>

    <select id="getPrice" resultType="java.math.BigDecimal">
        select price from product where productId = #{productId}
    </select>

    <select id="getActivityId" resultType="java.lang.String">
        select activityId from activity where productId = #{productId}
    </select>
</mapper>
